@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Gabarito', sans-serif; */
:root {
    /* --borderTest: 1px solid black; */
    --borderTest: 0px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.fullBody {
    border: var(--borderTest);
    width: 100%;
    min-height: 100vh;
    min-width: 360px;
    overflow: hidden;
}

.elementsOrder {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
}

.V-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.H-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.V-flexJustify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.V-flexJustifyEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    height: 75px;
}

.title {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.logoBox {
    user-select: none;
    cursor: pointer;
}

.logo {
    height: 50px;
}

.modeButton {
    padding: 0.25rem 0.75rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
}

.displayNavBtn {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.navLinkBox {
    position: static;
    display: flex;
    gap: 0.5rem;
    /* background-color: #DFDBE5; */
}

.navlink {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    padding: 0.5rem;
    border-radius: 5px;

    &.active {
        background-color: #FF88C1;
    }
}

@media only screen and (max-width:640px) {
    nav {
        padding: 0.5rem 1rem;

        .title {
            font-weight: 700;
            font-size: 1.25rem;
            margin: 0.5rem;
        }

        .logo {
            height: 40px;
        }

        .modeButton {
            font-size: 1.25rem;
            width: auto;
        }

        .navLinkBox {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            flex-direction: column;
            align-items: center;
            animation: displayNavBar 0.5s ease;
            display: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23DFDBE5' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

            &.active {
                display: block;
                transition: all 0.3s ease;
                background-color: #FF88C1;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .displayNavBtn {
            display: block;
        }
    }
}

@keyframes displayNavBar {
    0% {
        top: 0%;
    }

    100% {
        top: 50%;
    }
}

.ControlBtns {
    background-color: #FF88C1;
    border: none;
    outline: none;
    font-size: 1rem;
    height: 40px;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;

    &:hover {
        box-shadow: 0px 0px 10px #FF88C1;
    }
}

.footerBox {
    padding: 2rem;
    border-top: 1px solid #ff88c17f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLinkBox {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    .Link {
        text-decoration: none;
        user-select: none;
        border-radius: 5px;
        padding: 0.25rem 0.5rem;

        &:hover {
            background-color: #FF88C1;
        }
    }

}

@media screen and (max-Width:960px) {
    .footerLinkBox {
        display: none;
    }
}

.confirmation-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .blackOut {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}

.aboutBox {
    padding: 1rem;

    .aboutContent {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .line {
        width: 50%;
        margin: 0 auto;
        height: 2px;
        background-color: #FF88C1;
    }
}

.socialLinksBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1.5rem 0;

    .linkAnchor {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-direction: column;

        &:hover {
            outline: 1px solid gray;
            outline-offset: 0.5rem;
            border-radius: 5px;
        }

    }
}

.confirmation-content {
    position: absolute;
    border: 1px solid red;
    padding: 20px;
    border-radius: 5px;


    & p {
        margin-bottom: 15px;
    }

    .YesorNoBTN {
        font-size: 1rem;
        padding: 0.125rem 0.5rem;
        border-radius: 5px;
        margin: 0 0.5rem;
        background-color: #ff88c17f;
        color: #fff;
        cursor: pointer;
        border: none;
        outline: none;

        &:hover {
            background-color: #FF88C1;
        }
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.loading-icon {
    width: 20px;
    height: 20px;
    color: #3498db;
    /* Set the color of the icon */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}