.newPostBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.NewPostContols {
    width: 100%;
    padding: 0.5rem;
    margin: 2rem 0;


    .btnBox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.titleHead {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .titleInput {
        font-size: 1.25rem;
        font-weight: 600;
        width: 90%;
        outline: none;
        border: none;
        padding: 0.25rem;
        border-radius: 5px;
        margin: auto;
    }
}

.contentHead {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .contentInput {
        resize: vertical;
        width: 95%;
        min-height: 200px;
        outline: none;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        margin: auto;
    }
}

#newPostImageInput {
    display: none;
}

.uploadImageHead {
    display: flex;
    justify-content: center;
    margin: 1rem 0;

    .imageInputLabel {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: #FF88C1;
    }
}

.imageDisplayBox {
    display: flex;
    flex-direction: column;
    width: 200px;

    .imageDisplay {
        max-width: 200px;
        aspect-ratio: 16 / 9;
        border: 1px solid gray;
        padding: 0.25rem;
    }
}
.imageName{
    text-align: center;
}
.warningLabel {
    color: red;
    text-align: center;
}

.userMessage {
    color: red;
    text-align: center;
    animation: fadeIN 1s ease;
}