.newPostBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.NewPostContols {
    width: 100%;
    padding: 0.5rem;
    margin: 2rem 0;


    .btnBox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.titleHead {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .titleInput {
        font-size: 1.25rem;
        font-weight: 600;
        width: 90%;
        outline: none;
        border: none;
        padding: 0.25rem;
        border-radius: 5px;
        margin: auto;
    }
}

.contentHead {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .contentInput {
        resize: vertical;
        width: 95%;
        min-height: 200px;
        outline: none;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        margin: auto;
    }
}

.uploadImageHead {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;

    /* .uploadImageInput {
        width: 90%;
    } */
}

.warningLabel {
    color: red;
    text-align: center;
}

.userMessage {
    text-align: center;
    animation: fadeIN 1s ease;
}